#header {
  background-image: image-url("Pic1.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  height: 60vh;
  position: relative;
  width: 100%;
  img {
    position: absolute;
    z-index: 1;
    left: 2%;
    top: 9%;
  }
}
