@font-face {
  font-family: "TheSkinny";
  src: url('/assets/TheSkinny');
}

@font-face {
  font-family: "TheSkinny-bold";
  src: url('/assets/TheSkinny-bold');
}

@font-face {
  font-family: "Adventure";
  src: url('/assets/Adventure');
}
$font-1: TheSkinny;
$font-1-bold: TheSkinny-bold;
$font-2: Adventure;

h2 {
  font-family: $font-1;
}
